<div class="card" style="width: 18rem;">
  <img src="/Images/@Model.Image" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text">@Model.Address</p>
    <a href="/student/GetAll" class="btn btn-primary">Return TO List</a>
  </div>
</div>